// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

// Define fonts for body and headers
$body-font: "Best Rock Regular", "Helvetica", "sans-serif";
$headers-font: "TheSkinny", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "TheSkinny";
  src: font-url('TheSkinny.otf') format('truetype');
  src: font-url('TheSkinny-bold.otf') format('truetype');
}

@font-face {
  font-family: "Best Rock Regular";
  src: url('Best Rock.woff') format('opentype');
  font-style: normal;
  font-weight: normal;
}

//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')

// $my-font: "Font Name";
