.gallery-pic {
  // box-shadow:6px -6px 1px 0px rgba(250, 255, 0, 0.35);
  // margin-top: -20px;
  // margin-left: 188px;
  // margin-right: 16px;
  height: 278px;
  max-width: 372px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(0.5);
  margin-right: auto;
  margin-left:auto;
  margin-top: 62px;
}

.r {
  box-shadow: 8px -8px 1px 0px rgba(255, 7, 7, 0.36);
}

.g {
  box-shadow: 8px -8px 1px 0px rgba(20, 255, 72, 0.36);
}

.y {
  box-shadow: 8px -8px 1px 0px rgba(239, 243, 17, 0.36);
}




@media(max-width: 768px) {

.gallery-pic {
  margin-left:auto;
  margin-right:auto;
  margin-top: 30px;
  max-height: 376px;
  max-width: 338px;
  margin-bottom: 7px;
}

.gallery-pic p {
  font-size: 15px;
}


}
