.gallery-pic {
  margin-top: 61px;
  margin-left: auto;
  margin-right: auto;
  max-height: 278px;
  max-width: 372px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(0.9);
  border-radius: 3px;
  margin-bottom:10px;
}

.r {
  box-shadow: 8px -8px 1px 0px rgba(255, 7, 7, 0.36);
}

.g {
  box-shadow: 8px -8px 1px 0px rgba(20, 255, 72, 0.36);
}

.y {
  box-shadow: 8px -8px 1px 0px rgba(239, 243, 17, 0.36);
}

.gallery-p {
  margin-top: 55px;
  max-height: 278px;
  max-width: 372px;
}


@media(max-width: 768px) {

  .gallery-p {
  margin-top: 55px;
  } .gallery-p p {
   margin:0;
  }
.gallery-pic {
  margin-top: 61px;
  margin-left: auto;
  margin-right: auto;
  max-height: 278px;
  max-width: 372px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(0.9);
  border-radius: 3px;
  margin-bottom:10px;
}

}
