.contact-image{
  margin-top: 2px;
  box-shadow: -69px -64px 5px 0px rgba(193, 242, 227, 0.59);
  margin-left: auto;
  margin-right: auto;
  height: 564px;
  max-width: 458px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  filter: saturate(0.9);
  border-radius: 3px;
  filter: contrast(1.5);
}
.contact-msg {
  margin-right: 154px;
  margin-top: 11px;
  height: 352px;
  max-width: 396px;
  background-color: rgba(250, 255, 0, 0.35);
  padding: 26px;
  border-radius: 4px;
}

.contact-msg li {
  display: inline-block;
  list-style-type: none;
}

.contact-msg i {
     text-align: center;
    text-decoration: none;
    color: #818a91;
    font-size: 23px;
    line-height: 44px;
    width: 44px;
    height: 44px;
    margin-right: 8px;
}

.contact-msg a {
  text-decoration: none;
  text-align: center;
  color: black;
}

#small-text {
  font-size:14px !important;
  width: 247px;
  margin-left: 45px;
}

@media(max-width: 768px) {
    .contact-msg {
  margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    height: 352px;
    max-width: 414px;
    background-color: rgba(250, 255, 0, 0.35);
    padding: 20px;
    border-radius: 4px;
  }

  .contact-msg li {
    display: inline-block;
    list-style-type: none;
  }

  .contact-msg i {
       text-align: center;
      text-decoration: none;
      color: #818a91;
      font-size: 23px;
      line-height: 44px;
      width: 44px;
      height: 44px;
      margin-right: 8px;
  }

  .contact-msg a {
    text-decoration: none;
    text-align: center;
    color: black;
  }

  #small-text {
    font-size:14px !important;
    width: 247px;
    margin-left: 45px;
  }

}
