// Specific CSS for your home-page

  .bc-main {
    max-width: 400px;
    height:500px;

   background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(0.6);
  }

@media(max-width: 768px) {
  .bc-main {
max-width: 100%;

   background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(0.6);
  }
}
