// Import page-specific CSS files here.
h1 {
 font-size: 3.5em;
 margin: 0;
}

h1 h2 {
  font-family: 'TheSkinny';
}

p ul li {
  font-family: 'Dancing Script', cursive;
}

@import "home";
@import "whoweare";
@import "surf";
@import "artgallery";
@import "store";
@import "contact";
