 <div class="col-md-4 col-sm-6 col-xs-12 footer">
     <ul class="social-icons">
        <li>Instagram: <a class="fab fa-instagram" href="https://www.instagram.com/mitimiticlothing/"></a></li>
        <li>Whatsapp: <a class="fab fa-whatsapp" href="https://wa.me/593983124960"></a></li>
     </ul>
  </div>
</div>
