 <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12 footer">
     <ul class="social-icons">
        <li style="font-size:14px">Instagram: <a class="fab fa-instagram" href="https://www.instagram.com/mitimiticlothing/"></a></li>
        <li style="font-size:14px">Whatsapp: <a class="fab fa-whatsapp" href="https://wa.me/593983124960"></a></li>
     </ul>
  </div>
</div>
