<div class="container-fluid">
  <div class="row" >
    <div class="col-12">
      <h1>Contact us</h1>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6  contact-image"  style="background-image:url(<%= asset_path('mitimiti.png') %>);">
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 contact-msg">
      <ul>
        <b style="font-size:18px">Contact info</b><br>
        <i class="fab fa-instagram"></i><li><a href="https://www.instagram.com/mitimiticlothing/"><span style="font-family: 'Indie Flower', cursive;">@</span>mitimiticlothing</a></li><br>
        <i class="fab fa-youtube"></i><li><a href="https://www.youtube.com/channel/UCTO3ikCBDe_OwOvG2yxjjpg">Mitimiti Lifestyle</a></li><br>
        <i class="fas fa-envelope"></i><li> mitimiticlothing@gmail.com</li><br>
        <i class="fab fa-whatsapp"></i><li>Cecilia <b><a href="https://wa.me/593983124960"><span style="font-family: 'Indie Flower', cursive;">+593983124960</span></a></b></li><br>
        <i class="fab fa-whatsapp"></i><li>Joachim <b><a href="https://wa.me/593959023670"><span style="font-family: 'Indie Flower', cursive;">+593959023670</span></a></b></li>
        <li id="small-text">**You can call or text the artist Joachim too but... goodluck he is alwalys in art mode</li>
     </ul>
    </div>
  </div>
</div>

</div>


</div>

