  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="map-image" style="background-image:url(<%= asset_path('4') %>;">
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="funfact-info">
          <h2>Fun fact ☺️</h2>
            <li>- <b>Mitimiti clothing </b> means  <b>“half and a half”</b> in Spanish! </li>
            <li>- Animals here are protected species not you hehe</li>
            <li>- <b>WiFi</b> and internet <b>does not work very well</b> so be ready to don’t use your phone a lot !</li>
            <li>- Be prepared to hear <b>dark vedder</b> sounds make by the sea lions!</li>
          </p><br>
        </div>
        <div class="basic-info">
          <h2>Basic infomation about places in the map ☺️</h2>
            <b style="font-size: 18px">Surf spot:</b>
              <li>- Tortuga Bay</li>
              <li>- Angermayer point</li>
              <li>- Punta Estrada</li>
              <li>- La Ratonera</li>
              <li>- 3 picos</li>
              <li> **More than 90% of the island is protected area some imagens all of the secret spots</li><br>

            <b style="font-size: 18px">Tourist places:</b>
              <li>- Los gemelos</li>
              <li>- parte alta</li>
              <li>- Túneles de Lava</li><br>

            <b style="font-size: 18px">Places to Snorkel:</b>
              <li>- Playa mansa(Tortuga bay)</li>
              <li>- Las grietas</li>
              <li>- Playita de la estación</li><br>

            <b style="font-size: 18px">Beaches:</b>
              <li>- Playa Tortuga bay</li>
              <li>- Playa de los Alemanes</li>
              <li>- El garrapatero</li>
              <li>- Playita de la estación</li>
        </div>
      </div>
    </div>
</div>
