<div class="container">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 h1-box">
    <h1>Surf class</h1>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 image-4" style="background-image:url(<%= asset_path('store22') %>;">
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-box">
      <p> We also provide surf classes with the best instructors working alongside the surf school <b>“Swell”</b>. They are part of the Santa Cruz surf club so they are prepared to help and give the best advices about the local surf spots!<br> If you are looking for the best surf school don’t doubt to contact us! <br> <span class="social-icons"> <a class="fab fa-instagram" href="https://www.instagram.com/mitimiticlothing/"> <a class="fab fa-whatsapp" href="https://wa.me/593983124960"></a></span> </p>
    </div>

  </div>
</div>
