<h1>Pages#surf</h1>
<p>Find me in app/views/pages/surf.html.erb</p>
 <div class="col-12 ">
       <p>We also provide surf classes with the best instructors working alongside the surf school “Swell”. They are part of the Santa Cruz surf club so they are prepared to help and give the best advices about the local surf spots!<br> If you are looking for the best surf school don’t doubt to contact us!
      </p>
    </div>
