.social-icons li {
  display: inline-block;
  list-style-type: none;

}

.social-icons a {
  text-align: center;
  text-decoration: none;
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  line-height:44px;
  width:44px;
  height:44px;
  margin-right:8px;
  border-radius:100%;
}

.footer {
  width: 100%;
  display:flex;
  align-itmes: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}


.footer ul {
  width: 100%;
  display:flex;
  align-itmes: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.footer li {
   display: inline-block;
  list-style-type: none;


}



