
#navbar {
  font-family: 'TheSkinny';
}
.navbar-lewagon {
  justify-content: space-between;
  background: #5EC5FF;
  a {
    color: white !important;
  }
  margin-bottom: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-bar .nav-link a {
  color: white;
}
